/node_modules
/vendor
.git
.gitignore
.env
.env.backup
.env.production
.phpunit.result.cache
/storage/*.key
/storage/pail
/public/build
/public/hot
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.log
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.nova
/.fleet
/.zed
auth.json
.phpactor.json

